*{
    padding: 0;
    margin: 0;
    font-family: Nunito Sans;
}

.title{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    /* height: 10%; */
}

.title p {
    color: var(--brand-primary);
    font-size: 13px;
    font-weight: var(--bold-font);
}

.general-icon button {
    padding: 3px ;
    font-size: 12px;
    font-weight: var(--regular-font);
}

.button{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
}

.button-text {
    display: inline;
}

.triangles{
    height: 10%;
}

.blue-triangle{
    border-left: 80vw solid var(--brand-primary);
    border-right: 50px solid transparent;
    border-bottom: 40px solid transparent;
    position: relative;
    bottom: 40px;
}

.green-triangle{
    border-left: 50px solid transparent;
    border-right: 100vw solid var(--brand-secondary);
    border-bottom: 40px solid transparent; 
}

.welcome{
    text-align: center;
}

h4{
    color: var(--brand-secondary);
    font-weight: var(--bold-font);
}

/* .welcome p {
    display: block;
    text-align: left;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}    */


main{
    background-color: var(--bg_body);
}

nav{
    display: flex;
    justify-content: center;
    width: 95vw;
    height: 50px;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 10px;
}

input{
    width: 80%;
    border-radius: 7px 0 0 7px;
    border: 1px solid gray;
    box-shadow: 2px gray;
}

.sort-list{
    display: flex;
    flex-direction: column;
    width: 10%;
    background-color: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 13px;
}

.filter-list{
    display: flex;
    flex-direction: column;
    width: 10%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0 7px 7px 0;
    font-size: 13px;
}

select{
    border: none;
    margin: 0px;
}

section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    /* width: 95vw; */
}


.num-topic{
    font-weight: var(--bold-font);
    font-size: 26px;
    width: 95vw;
    margin: 0 auto;
    margin-top: 20px;
}

.all-cards{
    width: 95vw;
}

.card{
    border-radius: 3%;
    background-color: var(--bg_default);
    width: 18%;
    gap: 15px;
    margin-bottom: 25px;
}

img{
    height: 50%;
    border-top-left-radius: 3%;
    border-top-right-radius:3%;
    /* overflow: hidden; */
}

.language{
    font-weight: var(--bold-font);  
}

.info{
    margin: 5px;
    font-size: 14px;
}

@media (max-width:768px){
    .button-text{
        display: none;
    }
    .welcome{
        text-align: left;
        margin-left: 20px;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        width: 95vw;
        height: 50px;
        margin: 0 auto;
    }
    input{
        width: 100%;
        border-radius: 7px 7px 0 0;
        border: 1px solid black;
        box-shadow: 2px 0.5 black;
    }

    .sort-list{
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: var(--bg_default);
        border-bottom: 1px solid gray;
        border-left: 1px solid gray;
        border-radius: 0 0 0 7px ;
        font-size: 12px;
        height: 30px;
    }
    
    .filter-list{
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: var(--bg_default);
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
        border-radius: 0 0 7px 0 ;
        font-size: 12px;
        height: 30px;
    }

    .card{
        border-radius: 3%;
        background-color: var(--bg_default);
        width: 100%;
        margin-bottom: 20px;
    }
}

.about{
    background-color: var(--body-text);
    color: var(--bg_default);
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px;
    height: 250px;
}

.language-card{
    border: 1px solid var(--body-text);
    background-color: var(--bg_default);
    margin-top: 20px;
    color:var(--body-text) ;
    font-size: 12px;
    font-weight: var(--bold-font);
}

span{
    color: var(--brand-primary);
    text-decoration: underline;
}