*{
    padding: 0;
    margin: 0;
    font-family: Nunito Sans;
}

.title{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
    padding: 15px 0 15px 0;
    align-items: center;
}

.title h1 {
    color: var(--brand-primary);
    font-size: 14px;
    font-weight: var(--regular-font);
}

.general-icon{
    display: flex;
    gap: 5px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;    
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--bg_default);
    border: 1px solid var(--lines-color);
}

.triangles{
    width: 100%;
    height: 40px;
}

.blue-triangle{
    border-left: 80vw solid var(--brand-primary);
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: relative;
    bottom: 49px;
}

.green-triangle{
    border-left: 50px solid transparent;
    border-right: 80vw solid var(--brand-secondary);
    border-bottom: 50px solid transparent; 
}

.welcome{
    text-align: center;
}

h4{
    color: var(--brand-secondary);
    font-weight: var(--bold-font);
}

.welcome p{

}

main{
    background-color: var(--bg_body);
    margin-top: 20px;
}

nav{
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 50px;
    margin: 0 auto;
    border-radius: 7px;
    background-color: var(--lines-color);
    box-shadow:
    0px -3px 2px var(--lines-color), /* Top shadow */
    3px 0px 2px var(--lines-color), /* Right shadow */
    0px 3px 2px var(--lines-color), /* Bottom shadow */
    -3px 0px 2px var(--lines-color); /* Left shadow */
    position: relative;
    top: 10px;
}

input{
    width: 70%;
    border-radius: 7px 0 0 7px;
    border: none;
    text-indent: 35px;
    font-size: 20px;
}

input::placeholder{
    font-size: 18px;
}

.search-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}

.down-list{
    background-color: var(--bg_default);
    margin-left: 1px;
    width: 15%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.down-list label{
    margin-left: 3px;
}

select {
    font-size: 16px;
}

.filter-list{
    border-radius: 0 7px 7px 0;
}

select{
    border: none;
    margin: 0px;
}

section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
}


.num-topic{
    font-weight: var(--bold-font);
    font-size: 26px;
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
}

.all-cards{
    width: 90vw;
}

.card{
    border-radius: 3%;
    background-color: var(--bg_default);
    width: 18%;
    gap: 15px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 1px rgba(215, 213, 213, 0.5);
}

img{
    height: 50%;
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius:3%;
    /* overflow: hidden; */
}

.language{
    font-weight: var(--bold-font);  
}

.info{
    margin: 5px;
    font-size: 14px;
}

@media (max-width:768px){
    .button-text{
        display: none;
    }

    .button{
        width: 35px;
        height: 25px;
    }

    .welcome{
        text-align: left;
        margin-left: 20px;
        margin-top: 15px;
    }
    nav{
        /* display: flex;
        flex-wrap: wrap; */
        width: 90vw;
        margin: 0 auto;
        row-gap: 5px
        ;
    }
    input{
        width: 100%;
        border-radius: 7px 7px 0 0;
    }

    .sort-list{
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: var(--bg_default);
        border-radius: 0 0 0 7px ;
        font-size: 12px;
        height: 30px;
    }
    
    .filter-list{
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: var(--bg_default);
        border-radius: 0 0 7px 0 ;
        font-size: 12px;
        height: 30px;
    }

    .card{
        border-radius: 3%;
        background-color: var(--bg_default);
        width: 100%;
        margin-bottom: 20px;
    }
}

.about{
    background-color: var(--body-text);
    color: var(--bg_default);
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px;
}

.language-card{
    border: 1px solid var(--body-text);
    background-color: var(--bg_default);
    margin-top: 20px;
    color:var(--body-text) ;
    font-size: 12px;
    font-weight: var(--bold-font);
}

.language-card img{
    width: 200px;
}

.author-name{
    color: var(--brand-primary);
    text-decoration: underline;
}

.favorite-request{
    border: 1px solid var(--body-text);
}