*{
    padding: 0;
    margin: 0;
    font-family: Nunito Sans;
}

header{
    background-color: var(--bg_default);
    padding-bottom: 20px;
}

.continares-width{
    width: 93vw;
}

.box-shadow{
    box-shadow: 0px 0px 15px -3px var(--lines-color);
}

.title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 17px 0;
    align-items: center;
}

.title h1 {
    color: var(--brand-primary);
    font-size: 14px;
    font-weight: var(--regular-font);
}

.general-icon{
    display: flex;
    gap: 5px;
    color: var(--body-text);
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: .9rem;
    color: var(--body-text);   
    padding: 5px 11px;
    border-radius: 4px;
    background-color: var(--bg_default);
    border: 1px solid var(--lines-color);
    padding-inline: 11px;
    gap: 6px;
}

.triangles{
    width: 100%;
    height: 40px;
}

.blue-triangle{
    border-left: 80vw solid var(--brand-primary);
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: relative;
    bottom: 49px;
}

.green-triangle{
    border-left: 50px solid transparent;
    border-right: 80vw solid var(--brand-secondary);
    border-bottom: 50px solid transparent; 
}

.welcome-content{
    text-align: left;
    margin: 0 auto;
    width: 35%;
    color: var(--body-text);
}

h4{
    font-size: 22px;
    color: var(--brand-secondary);
    font-weight: var(--bold-font);
}

main{
    background-color: var(--bg_body);
}

.search-bar{
    display: flex;
    justify-content: center;
    gap: 1px;
    margin: 0 auto;
    border-radius: 7px;
    background-color: var(--lines-color);
    position: relative;
    top: 20px;
}   

input{
    width: 75%;
    background-color: var(--bg_default);
    border-radius: 7px 0 0 7px;
    border: none;
    text-indent: 35px;
    font-size: 20px;
    color: var(--body-text);
}

input::placeholder{
    font-size: 18px;
}

.search-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    color: var(--body-text);
    transform: translateY(-50%);
    pointer-events: none; 
}

.search-criteria{
    display: flex;
    width: 25%;
    gap: 1px;
    box-sizing: border-box;
}

.down-list{
    display: flex;
    flex-direction: column;
    background-color: var(--bg_default);
    width: 50%;
    font-size: 12px;
    padding: 7px;
}

.search-criteria label{
    margin-left: 3px;
    color: var(--body-text);    
}

.filter-list{
    border-radius: 0 7px 7px 0;
}

select{
    color: var(--body-text);
    background-color: var(--bg_default);
    border: none; 
    font-size: 16px;
}

.num-topic{
    color: var(--body-text);
    font-weight: var(--bold-font);
    font-size: 26px;
    margin: 0 auto;
    margin-top: 35px;
}

#loading-indicator{
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.all-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px, 1fr));
    gap: 25px;
    margin: 0 auto;
    margin-top: 20px;
}

.anchor-card{
    text-decoration: none;
    color: var(--body-text);
}

.card{
    border-radius: 3%;
    height: 250px;
    padding: 0;
    background-color: var(--bg_default);
}

img{
    height: 50%;
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius:3%;
    overflow: hidden;
}

.language{
    font-size: 16px;
    font-weight: var(--bold-font);  
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.dynamic-tolerance{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.language-category{
    font-size: 14px;
}

.card-info{
    padding: 12px;
    font-size: 14px;
}

.star-icons{
    display: flex;
    justify-content: left;
    margin-top: 23px;
}

.star-icons ion-icon {
    color: #E5981A;
}

.author-name{
    font-size: 12px;
    margin-top: 15px;
}

.favourite-topics{
    display: none;
    background-color: var(--bg_default);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    padding: 0 5vw;
}

.favourite-topics h5{
    font-size: 18px;
    padding: 5px 0;
    color: var(--body-text);
}

.favorite-card-info{
    padding: 0;
    margin: 0;
}

.favourite-courses{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
    gap: 10px;
}

footer{
    text-align: center;
    font-size: 20px;
    color: var(--body-text);
    padding: 30px;
    background-color: var(--bg_body);
}

.red-heart{
    color: var(--heart-color);
}

.black-container{
    background-color: var(--fixed-black);
    color: var(--fixed-white);
    width: 100vw;
    height: 250px;
}

.main-width-percentage{
    width: 60%;
}

.language-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    gap: 30px;
}

.definetion-and-topic-containers{
    width: 60%;
}

.language-description{
    margin-top: 10px;
}

.category{
    color: var(--brand-secondary);
}

.language-definition{
    margin-top: 20px;
    font-size: 15px;
}

h2{
    font-size: 25px;
}

.language-card{
    border: 1px solid var(--lines-color);
    background-color: var(--fixed-white);
    margin-top: 170px;
    color:var(--fixed-black) ;
    font-size: 12px;
    font-weight: var(--bold-font);
}

.language-card img{
    width: 270px;
    height: 170px;
}

.favorite-lang{
margin: 10px;
}

.lang-name{
    font-size: 14px;
}


.language-card .author-name{
    color: var(--brand-primary);
    text-decoration: underline;
}

.favorite-request{
    border: 1px solid var(--fixed-grey);
    padding: 15px;
}

.favorite-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-size: 18px;
    border: none;
    margin: 10px auto;
    background-color: var(--brand-secondary);
    color: var(--fixed-white);
}

.favorite-button ion-icon{
    font-size: 20px;
    padding: 5px;
}

.credit{
    color: var(--fixed-grey);
    text-align: center;
}

.topic-container{
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 2%;
}

.course-topic{
    background-color: var(--bg_default);
    color: var(--body-text);
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1px;
    text-align: left;
}

.course-topic h3{
    padding: 12px;
    font-size: 22px;
}

.course-topic li{
    list-style-type: none;
    border-top: 1px solid var(--lines-color);
    padding: 10px;
}

.check-icon{
    color: var(--brand-secondary);
}

@media (max-width:768px){
    .button-text{
        display: none;
    }

    .button{
        width: 35px;
        height: 25px;
    }

    .welcome-content{
        margin-left: 20px;
        margin-top: 10px;
        width: 100%;
    }

    .search-bar{
        flex-wrap: wrap;
    }

    input{
        width: 100%;
        border-radius: 7px 7px 0 0 ;
    }
    
    .search-icon{
        top: 18%;
    }
    
    .search-criteria {
        width: 100%;
        border-radius: 0 0 7px 7px;
    }
}
@media (max-width:1300px){
    .black-container{
        height: auto;
    }
    .language-details{
        flex-direction: column;
        width: 60%;
    }    
    .language-definition{
        font-size: 20px;
    }
    .language-card{
        margin: 0 0 20px 0;
    }    
    .language-card img{
        width: 100%;
    }
    .full-width-content{
        width: 100%;
    }
    .course-topic{
        margin: 0 auto;
}
}